.banner {
  display: block;
  text-align: center;
  height: 267px;
  background-image: url("../../images/official.jpg");
  background-size: cover;
  background-position: center center;
}

h1 {
  font-family: $font-raleway;
  font-size: 35px;
  margin: 30px;
  font-weight: bold;

}

p {
  font-family: $font-open-sans;
  font-size: 25px;
  margin: 150px auto;
  font-weight: bold;
}

//.button-shop {
//  background-color: $color-primary;
//  display: inline-block;
//  font-size: 16px;
//  text-align: center;
//  color: $color-white;
//  font-weight: bold;
//  border-radius: $button-radius;
//  padding: 22px 0 22px 0;
//  width: 70%;
//
//}
